* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    background-color: rgb(202, 202, 202);
    height: 60px;
}

.title-1 {
    background-color: rgb(202, 202, 202);
    margin: 40px auto;
    width: 40%;
    height: 40px;
}

.container-1 .left {
    background-color: rgb(202, 202, 202);
    height: 500px;
    width: 49.5%;

    display: inline-block;
}

.container-1 .right {
    background-color: rgb(202, 202, 202);
    float: right;
    height: 500px;
    width: 49.5%;
}

.title-2 {
    background-color: rgb(202, 202, 202);
    margin: 40px auto;
    width: 60%;
    height: 40px;
}

.container-2 {
    margin: 40px auto;
    /* background-color: red; */

    width: fit-content;

}



.box {
    background-color: rgb(202, 202, 202);
    height: 280px;
    margin: 5px;
    width: 280px;
    display: inline-block;
}

.title-3 {
    background-color: rgb(202, 202, 202);
    margin: 40px auto;
    width: 70%;
    height: 40px;
}

.container-3 {
    background-color: rgb(202, 202, 202);
    height: fit-content;
    padding: 60px 20px;
    margin: 50px 0;


}

.main-contant {
    /* background-color: blue; */
    margin: 10px auto;
    width: fit-content;
}

.contant {
    background-color: white;
    margin: 10px;
    height: 500px;
    width: 300px;
    display: inline-block;
    padding: 25px;
}


.contant-title {
    background-color: rgb(202, 202, 202);
    height: 40px;
}

.contant-1 {
    background-color: rgb(202, 202, 202);
    height: 180px;
    margin-top: 25px;
}

.title-4 {
    background-color: rgb(202, 202, 202);
    margin: 40px auto;
    width: 20%;
    height: 40px;
}

.container-4 {
    /* background-color: blue; */
    height: fit-content;
    width: 40%;
    margin: 5px auto;
}

.contant-2 {
    background-color: rgb(202, 202, 202);
    height: 50px;
    margin-bottom: 15px;
}

.contant-3 {
    background-color: rgb(202, 202, 202);
    height: 250px;
    margin-bottom: 15px;
}

.contant-4 {
    background-color: rgb(202, 202, 202);
    height: 50px;
    width: 49%;
    margin-bottom: 15px;

    display: inline-block;
}

.contant-5 {
    background-color: rgb(202, 202, 202);
    height: 50px;
    width: 49%;
    margin-bottom: 15px;
    float: right;
}

footer {
    background-color: rgb(202, 202, 202);
    height: fit-content;
    padding: 20px;
    padding-bottom: 0;
}

.footer-1 {
    background-color: white;
    height: 200px;
    width: 49%;
    display: inline-block;
}

.footer-2 {
    background-color: white;
    height: 200px;
    float: right;
    width: 49%;
}