* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    background-color: rgb(202, 202, 202);
    height: 60px;
}

.title-1 {
    background-color: rgb(202, 202, 202);
    margin: 40px auto;
    width: 40%;
    height: 40px;
}

.container-1 .left {
    background-color: rgb(202, 202, 202);
    height: 500px;
    width: 49.5%;
    /* float: left; */
    display: inline-block;
}

.container-1 .right {
    background-color: rgb(202, 202, 202);
    float: right;
    height: 500px;
    width: 49.5%;
}

.title-2 {
    background-color: rgb(202, 202, 202);
    margin: 40px auto;
    width: 60%;
    height: 40px;
}

.container-2 {
    margin: 40px auto;
    /* background-color: red; */
    /* height: auto; */
    width: fit-content;
}



.box {
    background-color: rgb(202, 202, 202);
    height: 280px;
    margin: 5px;
    width: 280px;
    display: inline-block;
}

.title-3 {
    background-color: rgb(202, 202, 202);
    margin: 40px auto;
    width: 70%;
    height: 40px;
}